/*Header*/
header {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	background: #fff;
	border-left: 150px solid #fff;
}
header::after {
	content:"";
	display:block;
	clear:both;
}

body {
	background-image: url("../images/pinkrice.png");
	font-family: 'Comfortaa', cursive;
}
li{
	display: inline;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

li:last-child{
	border: none;
}

/*trying to clear
.clear{
	overflow: auto;
}*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#name {
	padding: 29px;
	background: teal;
	float: left;
	color: #fff;
	font-size:200%;
	font-family: 'Comfortaa', cursive;
}
 .links {
	float: right;
	padding: 20px;
	font-family: 'Comfortaa', cursive;
	margin: 17px;
 }

/* Main Content */
.content {
	float: left;
	background: #fff;
	border: 2px solid #ddd;
	padding:30px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 150px;
	width: 650px;
}

.content h1 {
	font-size: 150%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.content hr {
	margin-bottom: 25px;
}


#headshot {
	width: 248px;
	height: 372px;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
}

/*Social*/
.social {
	float:right;
	background: #fff;
	border: 2px solid #ddd;
	padding:30px;
	margin: 40px 40px 40px 40px;
	width:210px;
	height:140px;
	text-align: center;
}

.social h1 {
	font-size: 125%;
	padding-bottom: 10px;
}

.logo{
	padding-top: 20px;
	height:62px;
	width: 62px;
}



/*Footer*/
footer {
	position:fixed;
	float:bottom;
}